<html>
<head>
   <title>Đơn máy</title>
</head>
   <style>
      body{
         background-color: lightblue;
      }
   </style>
   <body>
      <img src = "http://i.imgur.com/LaDdqdA.png"/>
      <img src = "http://i.imgur.com/YEG4OoV.png" width="360" height="250"/>
      <img src = "http://i.imgur.com/Eu2khon.png" width="250" height="250"/>
      <br/>
      <form action="/input" method="post">
         <fieldset>
            <label>Họ và tên:</label>
            <input type="text" name="name" placeholder="Nguyễn Xuân Phúc" />
            <br/>
            <label>Lớp:</label>
            <input type="text" name="clss" placeholder="Cảm tình ĐẢNG" />
            <br/>
            <label>Trường:</label>
            <input type="text" name="school" placeholder="Đại Học Kinh Tế Quốc Dân" />
            <br/>
            <label>Câu hỏi 1:</label>
            <select name = "a" class = "category">
               <option value="69">Chọn 1 câu hỏi</option>
               <option value="0">Những truyền thống quý báu của Đoàn Thanh niên Cộng sản Hồ Chí Minh là gì?</option>
               <option value="1">Đoàn viên TNCS Hồ Chí Minh có mấy nhiệm vụ?</option>
               <option value="2">Lí tưởng của Đoàn Thanh niên Cộng sản Hồ Chí Minh và thanh niên Việt Nam là gì?</option>
               <option value="3">Nêu các ý tưởng và cách thực hiện của đồng chí nhằm nâng cao chất lượng hoạt động Đoàn nơi đòng chí đang theo học.</option>
               <option value="4">Phong trào "Bốn đồng hành với thanh niên lập thân, lập nghiệp" bao gồm các nội dung gì?</option>
               <option value="5">Em làm như thế nào để phấn đấu trở thành người đoàn viên?</option>
               <option value="6">Những nội dung cơ bản của phong trào"thi đua, tình nguyện xây dựng và bảo vệ tổ quốc" là gì?</option>
               <option value="7">Các phong trào lớn của Đoàn trong giai đoạn lịch sử là gì?</option>
               <option value="8">Đồng chí hãy giải thích và nói lên cảm nhận của mình đối với việc Đoàn Thanh niên cộng sản Hồ Chí Minh trải qua 6 lần đổi tên gọi.</option>
               <option value="9">NULL ahihi</option>
            </select>
            <br/>
            <label>Câu hỏi 2:</label>
            <select name = "b" class = "category">
               <option value="69">Chọn 1 câu hỏi</option>
               <option value="0">Những truyền thống quý báu của Đoàn Thanh niên Cộng sản Hồ Chí Minh là gì?</option>
               <option value="1">Đoàn viên TNCS Hồ Chí Minh có mấy nhiệm vụ?</option>
               <option value="2">Lí tưởng của Đoàn Thanh niên Cộng sản Hồ Chí Minh và thanh niên Việt Nam là gì?</option>
               <option value="3">Nêu các ý tưởng và cách thực hiện của đồng chí nhằm nâng cao chất lượng hoạt động Đoàn nơi đòng chí đang theo học.</option>
               <option value="4">Phong trào "Bốn đồng hành với thanh niên lập thân, lập nghiệp" bao gồm các nội dung gì?</option>
               <option value="5">Em làm như thế nào để phấn đấu trở thành người đoàn viên?</option>
               <option value="6">Những nội dung cơ bản của phong trào"thi đua, tình nguyện xây dựng và bảo vệ tổ quốc" là gì?</option>
               <option value="7">Các phong trào lớn của Đoàn trong giai đoạn lịch sử là gì?</option>
               <option value="8">Đồng chí hãy giải thích và nói lên cảm nhận của mình đối với việc Đoàn Thanh niên cộng sản Hồ Chí Minh trải qua 6 lần đổi tên gọi.</option>
               <option value="9">NULL ahihi</option>
            </select>
            <br/>
            <label>Câu hỏi 3:</label>
            <select name = "c" class = "category">
               <option value="69">Chọn 1 câu hỏi</option>
               <option value="0">Những truyền thống quý báu của Đoàn Thanh niên Cộng sản Hồ Chí Minh là gì?</option>
               <option value="1">Đoàn viên TNCS Hồ Chí Minh có mấy nhiệm vụ?</option>
               <option value="2">Lí tưởng của Đoàn Thanh niên Cộng sản Hồ Chí Minh và thanh niên Việt Nam là gì?</option>
               <option value="3">Nêu các ý tưởng và cách thực hiện của đồng chí nhằm nâng cao chất lượng hoạt động Đoàn nơi đòng chí đang theo học.</option>
               <option value="4">Phong trào "Bốn đồng hành với thanh niên lập thân, lập nghiệp" bao gồm các nội dung gì?</option>
               <option value="5">Em làm như thế nào để phấn đấu trở thành người đoàn viên?</option>
               <option value="6">Những nội dung cơ bản của phong trào"thi đua, tình nguyện xây dựng và bảo vệ tổ quốc" là gì?</option>
               <option value="7">Các phong trào lớn của Đoàn trong giai đoạn lịch sử là gì?</option>
               <option value="8">Đồng chí hãy giải thích và nói lên cảm nhận của mình đối với việc Đoàn Thanh niên cộng sản Hồ Chí Minh trải qua 6 lần đổi tên gọi.</option>
               <option value="9">NULL ahihi</option>
            </select>
            <input type="submit" value="Tạo đơn!" />
         </fieldset>
      </form>
   </body>
</html>