<html>
   <body>
      <img src = "http://i.imgur.com/2gyc76L.png"/>
      <br/>
      <form action="/input" method="post">
         <fieldset>
            <label>Name:</label>
            <input type="text" name="name"/>
            <br/>
            <label>Class:</label>
            <input type="text" name="clss"/>
            <br/>
            <select name = "a" class = "category">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>
               <option value="9">9</option>
               <option value="10">10</option>
            </select>
            <select name = "b" class = "category">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>
               <option value="9">9</option>
               <option value="10">10</option>
            </select>
            <input type="submit" value="Create!" />
         </fieldset>
      </form>
   </body>
</html>