<html>
   <body>
      <img src = "http://i.imgur.com/2gyc76L.png"/>
      <br/>
      <form action="/input" method="post">
         <fieldset>
            <label>Name:</label>
            <input type="text" name="name"/>
            <br/>
            <label>Class:</label>
            <input type="text" name="clss"/>
            <br/>
            <label>Đoạn 1:</label>
            <select name = "a" class = "category">
               <option value="1">Lý tưởng của đoàn thanh niên cộng sản Hồ Chí Minh là gì? Đồng chí sẽ làm gì để thực hiện lý tưởng đó?</option>
               <option value="2">Các ý tưởng và cách thực hiện nhằm nâng cao chất lượng hoạt động Đoàn nơi đòng chí đang theo học.</option>
               <option value="3">Giải thích và nêu cảm nhận của bản thân đối với việc Đoàn TNCS Hồ Chí Minh qua các lần đổi tên gọi?</option>
            </select>
            <br/>
            <label>Đoạn 2:</label>
            <select name = "b" class = "category">
              <option value="1">Lý tưởng của đoàn thanh niên cộng sản Hồ Chí Minh là gì? Đồng chí sẽ làm gì để thực hiện lý tưởng đó?</option>
               <option value="2">Các ý tưởng và cách thực hiện nhằm nâng cao chất lượng hoạt động Đoàn nơi đòng chí đang theo học.</option>
               <option value="3">Giải thích và nêu cảm nhận của bản thân đối với việc Đoàn TNCS Hồ Chí Minh qua các lần đổi tên gọi?</option>
            </select>
            <br/>
            <label>Đoạn 3:</label>
            <select name = "b" class = "category">
               <option value="1">Lý tưởng của đoàn thanh niên cộng sản Hồ Chí Minh là gì? Đồng chí sẽ làm gì để thực hiện lý tưởng đó?</option>
               <option value="2">Các ý tưởng và cách thực hiện nhằm nâng cao chất lượng hoạt động Đoàn nơi đòng chí đang theo học.</option>
               <option value="3">Giải thích và nêu cảm nhận của bản thân đối với việc Đoàn TNCS Hồ Chí Minh qua các lần đổi tên gọi?</option>
            </select>
            <input type="submit" value="Create!" />
         </fieldset>
      </form>
   </body>
</html>